<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head'); %>
</head>

<header>
  <%- include('./partials/headers'); %>
</header>

<main>
  <div style="margin-bottom: auto;">
    <%- body %>
  </div>
</main>

<footer class="text-center text-lg-start">
  <%- include('./partials/footer'); %>
</footer>

</html>